body {
    overflow: hidden;
}

.title, .canvas {
    display: flex;
    justify-content: center;
    align-items: center;
}

#titleText {
    font-size: 38px;
    font-family: 'Luckiest Guy', cursive;
    color: rgb(0, 149, 255);
    -webkit-text-stroke: 1px black;
}

#game-canvas {
    border: 3px solid black;
}